<mat-sidenav-container class="sidenav-container" [class.unicorn-dark-theme]="otherTheme">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!isOpen">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" [routerLink]="['/home']">Home</a>
      <a mat-list-item href="#"
         *ngIf="(isHandset$ | async) && !(user$ | async)?.authenticated"
         [routerLink]="['/auth/login']" #rlaHome="routerLinkActive"
         [routerLinkActive]="['is-active']">Login</a>
      <a mat-list-item href="#"
          *ngIf="(isHandset$ | async) && !(user$ | async)?.authenticated"
          #rlaHome="routerLinkActive"
         [routerLinkActive]="['is-active']"
         [routerLink]="['/auth/register']">Register</a>
      <a mat-list-item href="https://api.whatsapp.com/send?phone=+919871479726&text=Hi, I contacted you Through your website." class="social-icon whatsapp">Whatsapp</a>
      <a mat-list-item href="whatsapp://send?phone=+919871479726&text=example">whatsapp app</a>
      <mat-accordion>
        <mat-expansion-panel class="expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
                Projects
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
              <a mat-list-item href="https://swapnilsrivastava-ab702.firebaseapp.com/" target=_blank>
                <span mat-line>React</span>
                <mat-icon mat-list-icon svgIcon="react"></mat-icon>
                <mat-icon>open_in_new</mat-icon>
              </a>
              <a mat-list-item href="https://swapnilsrivastava-ef92c.firebaseapp.com/#/" target=_blank>
                <span mat-line>Vue</span>
                <mat-icon mat-list-icon svgIcon="vue"></mat-icon>
                <mat-icon>open_in_new</mat-icon>
              </a>
              <a mat-list-item href="https://swapnilsrivatava-1bdcd.firebaseapp.com/" target=_blank>
                <span mat-line>Polymer 2</span>
                <mat-icon mat-list-icon>polymer</mat-icon>
                <mat-icon>open_in_new</mat-icon>
              </a>
              <a mat-list-item href="https://swapnilsrivastava-c4555.firebaseapp.com/" target=_blank>
                <span mat-line>Polymer 3</span>
                <mat-icon mat-list-icon>polymer</mat-icon>
                <mat-icon>open_in_new</mat-icon>
              </a>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isOpen">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="button-container" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayoutGap="10px">
            <button mat-flat-button
                    [color]="rlaHome.isActive ? 'accent' : false"
                    [routerLink]="['/home']" #rlaHome="routerLinkActive"
                    [routerLinkActive]="['is-active']" >Home</button>
            <button mat-flat-button
                    [color]="rlaAbout.isActive ? 'accent' : false"
                    [disabled]="!(user$ | async)?.authenticated"
                    [routerLink]="['/about']" #rlaAbout="routerLinkActive"
                    [routerLinkActive]="['is-active']">About me</button>
            <button mat-flat-button
                    [color]="rlaContact.isActive ? 'accent' : false"
                    [disabled]="!(user$ | async)?.authenticated"
                    [routerLink]="['/contact']" #rlaContact="routerLinkActive"
                    [routerLinkActive]="['is-active']">Contact me</button>
            <button mat-flat-button
                    [color]="rlaPayment.isActive ? 'accent' : false"
                    [disabled]="!(user$ | async)?.authenticated"
                    [routerLink]="['/payment']" #rlaPayment="routerLinkActive"
                    [routerLinkActive]="['is-active']">Payment</button>
        </div>
        <div fxLayoutGap="10px">
            <button *ngIf="!(isHandset$ | async) && !(user$ | async)?.authenticated" mat-flat-button
                    [color]="rlaLogin.isActive ? 'accent' : false"
                    [routerLink]="['/auth/login']" #rlaLogin="routerLinkActive"
                    [routerLinkActiveOptions]="{exact: true}"
                    [routerLinkActive]="['is-active']">Login</button>
            <button *ngIf="!(isHandset$ | async) && !(user$ | async)?.authenticated" mat-flat-button
                    [color]="rlaRegister.isActive ? 'accent' : false"
                    [routerLink]="['/auth/register']" #rlaRegister="routerLinkActive"
                    [routerLinkActiveOptions]="{exact: true}"
                    [routerLinkActive]="['is-active']">Register</button>
            <mat-menu #appMenu="matMenu">
              <button mat-menu-item (click)="activateDarkTheme()">Dark theme</button>
              <button mat-menu-item (click)="getData()">Light theme</button>
              <button mat-menu-item *ngIf="(user$ | async)?.authenticated" (click)="logout()">Logout</button>
            </mat-menu>


            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>

        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- {{user$ | async | json}} -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
